*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .btn{
     padding: 12px;
     background-color: grey!important;
     border-radius: 10px;

  }

  .nav-link
  {
    background-color: rgb(255, 252, 252)!important;
    margin: 0 2px;
    
  }
  .nav{
    background-color:  rgb(209, 198, 198)!important ;
    float: left!important;
    clear: both;
  
  }
  .nav a{
    color: rgba(0, 0, 0, 0.705);
  }
  .navbar{
    background-color:  rgb(209, 198, 198);
  }
  .wrapper{
    width: 100vw;
  }
  .imgg{
    height: 400px!important;
  }